<script>
tailwind.config = {
  darkMode: "class",
  theme: {
    extend: {
      colors: {
        primary: "#8B5CF6",
        bgLight: "#F9F8FF",
        bgDark: "#0F0E17",
        card: "#FFFFFF",
      },
      fontFamily: {
        display: ["Plus Jakarta Sans", "sans-serif"]
      },
      borderRadius: {
        xl: "1.5rem",
        "2xl": "2rem"
      }
    }
  }
}
</script>